@using System.Collections.Generic
@using System.Linq
@using JSar.Membership.Domain.Identity
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using JSar.Web.UI.Features.Account
@model SignInViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Sign In";
}

<h2>Sign In</h2>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-controller="Account" asp-action="SignIn" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                <h4>Create a new account.</h4>
                <br />

                <div asp-validation-summary="All"></div>

                <formfield asp-for="UserName"></formfield>
                <formfield asp-for="Password"></formfield>
                <formfield asp-for="RememberMe"></formfield>

                <button type="submit" class="btn btn-default">Sign In</button>

                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>

            </form>
        </section>


        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>SARCI Members</h4>
                <p>Sign in with your Office 365 login.</p>
                <hr />
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>


    </div>
</div>